* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

.mainContainer {
    display: flex;
    flex-direction: column;
}
.handTitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cardDecks {
    display: flex;
    justify-content: center;
   
    .playerHand, .computerHand {
        display: flex;
        flex-direction: column;
        height: 100px;
        width: 100px; 
        border: 2px solid black;
        margin: 10px;
        div {
            height: 48px;
            width: 98px; 
            text-align: center;  
        }
    }
    .result {
        height: 100px;
        width: 200px; 
        border: 2px solid black;
        margin: 10px;
        margin-top: 38px;
        text-align: center;
    }
    
}

.moves {
    display: flex;
    justify-content: center;
    button {
        // height: 100px;
        // width: 100px; 
        border: 2px solid black;
        margin: 10px;
    }
}